div.charMap--container {
	font-size: 18px;
}

.charMap--category.active li {
	margin-bottom: 0;
}

.charMap--category-menu li {
	display: inline-block;
	border-bottom: none;
	font-size: 14px;
}

ul.charMap--category {
	background-color: white;
}

.charMap--category-menu .charMap--category-menu-item.active,
.charMap--category li a:hover {
	background: #0085ba;
}

.charMap--container .charMap--category-menu a:hover {
	background: none;
	text-decoration: underline;
}

.charMap--category-menu .charMap--category-menu-item.active a {
	color: #fff;
}

.charMap--container .charMap--container .charMap--categories {
	margin: 5px;
}

.charMap--categories li a {
	color: #111;
}

body:not(.mobile) .character-map-popover .components-popover__content:not(.is-mobile) {
	min-width: 550px;
}

.charMap--container {
	margin: 2px;
}

.charMap--container ul.charMap--category-menu {
	margin: 2px;
}

.components-popover__content {
	max-height: 350px;
}
