div.charMap--container {
	margin: 2px;
	font-size: 18px;
	max-height: 400px;
}

.charMap--container ul.charMap--filter {
	margin: 5px 6px;
	font-size: 14px;
}

.charMap--container ul.charMap--filter label {
	vertical-align: text-bottom;
}

.charMap--container ul.charMap--filter input {
	padding: 3px;
	min-height: 26px;
	line-height: 1;
}

ul.charMap--category {
	background-color: #fff;
	padding-bottom: 2px;
}

.charMap--category-menu li {
	display: inline-block;
	margin-bottom: 0;
	border-bottom: none;
	font-size: 14px;
}

.charMap--category.active li {
	margin-bottom: 0;
}

.charMap--categories li a {
	color: #111;
}

.charMap--category-menu .charMap--category-menu-item {
	margin: 5px 2px;
}

.charMap--category-menu .charMap--category-menu-item.active,
.charMap--category li a:hover {
	background: #0085ba;
}

.charMap--category-menu button:focus {
	outline: 2px solid #0085ba;
	outline-offset: 3px;
}

.charMap--category li button:focus {
	background-color: #41a6ac;
	color: #fff;

	/* For Windows high contrast mode. */
	outline: 2px solid transparent;
}

.charMap--container .charMap--category-menu button:hover {
	background: inherit;
	cursor: pointer;
}

.charMap--category-menu .charMap--category-menu-item.active a {
	color: #fff;
}

.charMap--container .charMap--container .charMap--categories {
	margin: 5px;
}

body:not(.mobile) .character-map-popover .components-popover__content:not(.is-mobile) {
	min-width: 550px;
}
