.character-map-popover .components-popover__content {
	max-height: 350px; /* avoid a bug with scrolling on initial load and repositioning */
}

div.charMap--container {
	margin: 2px;
	font-size: 18px;
}

.charMap--container ul.charMap--filter {
	float: right;
	margin-right: 5px;
	font-size: 14px;
}

.charMap--container ul.charMap--filter input {
	padding: 3px;
}

ul.charMap--category {
	background-color: white;
}

.charMap--category.active li {
	margin-bottom: 0;
}

.charMap--category-menu li {
	display: inline-block;
	margin-bottom: 0;
	border-bottom: none;
	font-size: 14px;
}

.charMap--category-menu .charMap--category-menu-item.active,
.charMap--category li a:hover {
	background: #0085ba;
}

.charMap--container .charMap--category-menu button:hover {
	background: inherit;
	cursor: pointer;
}

.charMap--category-menu .charMap--category-menu-item.active a {
	color: #fff;
}

.charMap--container .charMap--container .charMap--categories {
	margin: 5px;
}

.charMap--categories li a {
	color: #111;
}

body:not(.mobile) .character-map-popover .components-popover__content:not(.is-mobile) {
	min-width: 550px;
}
